# Business Intelligence (BI) Tools Analysis Using BigFix Webreports Data 06/15/2018 snapshot

## About
Notebook developed around BigFix dataset to understand BI software at the agency it is backed by a postgresql database. See README.md on building the database.

Uploaded data are restricted to Windows and MacOS machines (server & desktop included)

In [1]:
# import needed libs
import sys
sys.path.append("../lib/app_utilities")
from bi_util import *
from IPython.display import display, HTML

In [2]:
# Here is a list of everything we are going to look for
# BI_LIST

In [3]:
# make the connection to the database we want to use for analysis
# this DB was contructed from BigFix Webreport data taken on April 4th, 2018)
CONN = create_connection('webreport_06_15_2018')

In [4]:
types = count_bi_types(CONN)

In [5]:
# all of the db software where we have 1 or more types/permutations which match
types[types['num_types'] > 0]

   num_types                   software_name
0        816                          Python
0        126                           BOARD
0        107                            Java
0         71                             SAS
0         44                 Crystal Reports
0         37                             JRE
0         23                          Splunk
0         20                           scipy
0         10                            Qlik
0         10                   MicroStrategy
0          8                        Power BI
0          7              Microsoft Power BI
0          5                           Tibco
0          5                Business Objects
0          4                   ActiveReports
0          4                   JasperReports
0          3                            Palo
0          3                          TACTIC
0          2                      IBM Cognos
0          2                          Orange
0          2                         astropy
0          1   Microsoft SQL Server Analysis
0          1            SQL Server Reporting
0          1  Microsoft SQL Server Reporting
0          1             SQL Server Analysis
0          1                     Apache Hive

In [6]:
# for a more indepth analysis of types/permutations in BI software lets
# get a histogram breaking down all of the types we match
#data = 
# bi_software_histo ('Microsoft SQL Server%', conn=CONN)
# display(HTML(data.to_html()))

In [7]:
# find install info for rdbs
installs = count_bi_installs(CONN)

In [8]:
# all of the db software where we have 1 or more installs (for any type/permutation)
installs[installs['num_installs'] > 0]

   num_installs                   software_name
0          2703                          Python
0          1256                 Crystal Reports
0          1117                             SAS
0          1007                            Java
0           779                           BOARD
0           232                          Splunk
0            79                        Power BI
0            78              Microsoft Power BI
0            47                             JRE
0            33                           scipy
0            28                          TACTIC
0            25                   MicroStrategy
0            16   Microsoft SQL Server Analysis
0            16             SQL Server Analysis
0            13                            Qlik
0            11                           Tibco
0             6                      IBM Cognos
0             6                   ActiveReports
0             5                         astropy
0             4                          Orange
0             4  Microsoft SQL Server Reporting
0             4            SQL Server Reporting
0             3                     Apache Hive

In [9]:
bi_software_histo ('%Python%', conn=CONN)

                                         software_name  num
0                                     Python Launcher   816
1               Python 3.6.3 (Anaconda3 5.0.1 64-bit)   194
2               Python 3.6.1 (Anaconda3 4.4.0 64-bit)   160
3                                       Python 2.7.14   131
4    Microsoft Visual C++ Compiler Package for Pyth...  119
5               Python 3.6.4 (Anaconda3 5.1.0 64-bit)   100
6                                          Python(xy)    99
7                               Python 3.6.4 (32-bit)    94
8                                       Python 2.7.13    92
9                                       Python 2.7.10    87
10              Python 3.6.2 (Anaconda3 5.0.0 64-bit)    84
11                              Python 3.6.3 (64-bit)    83
12                                   IronPython 2.7.3    82
13                     Python 3.5.1 Launcher (32-bit)    72
14              Python 3.5.2 (Anaconda3 4.2.0 64-bit)    69
15                              Python 3.6.3 (32-bit)    69
16                             Python 2.7.13 (64-bit)    63
17                                      Python 2.7.12    60
18                              Python 3.6.1 (32-bit)    60
19              Python 3.6.0 (Anaconda3 4.3.1 64-bit)    59
20             Python 2.7.14 (Anaconda2 5.0.1 64-bit)    58
21                             Python 2.7.14 (64-bit)    57
22          Python Tools 2.2.6 for Visual Studio 2015    55
23                                      Python 2.7.11    55
24                              Python 3.6.2 (64-bit)    54
25                                       Python 2.5.4    54
26             Python 2.7.13 (Anaconda2 4.4.0 64-bit)    51
27                              Python 3.6.4 (64-bit)    48
28              Python 3.6.0 (Anaconda3 4.3.0 64-bit)    47
29                              Python 3.6.2 (32-bit)    45
..                                                 ...  ...
775                        Python 3.6 cx_Freeze-5.0.1     1
776                      Python 3.6 multiplotgui-0.18     1
777                      Python 3.6 multiplotgui-0.20     1
778                          Python 3.6 pyyeti-0.91.1     1
779                          Python 3.6 pyyeti-0.91.2     1
780                          Python 3.6 pyyeti-0.91.5     1
781                          Python 3.6 pyyeti-0.92.0     1
782                          Python 3.6 pyyeti-0.92.4     1
783                          Python 3.6 pyyeti-0.93.1     1
784             Python 3.6.0 (Anaconda3 4.3.1 32-bit)     1
785                           Python 3.6.0a1 (64-bit)     1
786                           Python 3.6.0a4 (64-bit)     1
787                           Python 3.6.0b1 (64-bit)     1
788                          Python 3.6.1rc1 (64-bit)     1
789                          Python 3.6.5rc1 (32-bit)     1
790                           Python 3.7.0b2 (32-bit)     1
791                           Python 3.7.0b3 (32-bit)     1
792  Python Tools 2.0 for Visual Studio (with Visua...    1
793           Python Tools 2.0 for Visual Studio 2010     1
794        Python Tools 2.1 RC for Visual Studio 2013     1
795           Python Tools 2.1 for Visual Studio 2010     1
796                                         PythonMsi     1
797                 PythonScript plugin for Notepad++     1
798            VA One 2012 64bit Python Developer Kit     1
799                        WFastCGI script for Python     1
800                      dSPACE Python Extensions 2.2     1
801                                     pythonOCC-0.5     1
802        wxPython 2.8.12.0 (unicode) for Python 2.7     1
803                   wxPython 3.0.1.1 for Python 2.7     1
804           ActivePython 2.7.13 Build 2715 (64-bit)     1

[805 rows x 2 columns]

In [10]:
bi_software_histo ('%Crystal Reports%', conn=CONN)

                                        software_name  num
0   SAP Crystal Reports runtime engine for .NET Fr...  455
1   SAP Crystal Reports runtime engine for .NET Fr...  153
2                       Crystal Reports 2008 Runtime   143
3   Crystal Reports Basic Runtime for Visual Studi...  105
4                       Crystal Reports XI Release 2   101
5   SAP Crystal Reports runtime engine for .NET Fr...   97
6            Crystal Reports 11.5 Embedded Reporting    89
7       Crystal Reports Basic for Visual Studio 2008    76
8   Crystal Reports Basic Runtime for Visual Studi...   67
9                           Crystal Reports 2008 SP3    53
10  SAP Crystal Reports runtime engine for .NET Fr...   21
11      Seagate Crystal Reports Professional Edition    21
12      Crystal Reports for .NET Framework 2.0 (x86)    19
13                   Crystal Reports Viewer 2011 SP2    18
14                                Crystal Reports 10    18
15                  Crystal Reports 2008 Runtime SP2    15
16                      SAP Crystal Reports 2013 SP7    12
17     Seagate Crystal Reports 7 Distributed Reports    12
18                       Crystal Reports Viewer 2008    10
19     Crystal Reports XI Release 2 .NET 2005 Server    10
20                                   Crystal Reports     9
21                                Crystal Reports XI     9
22                           Crystal Reports Runtime     8
23  SAP Crystal Reports version for Microsoft Visu...    8
24                              Crystal Reports 2008     5
25                      Crystal Reports 11.5 Runtime     5
26               SAP Crystal Reports 2016 viewer SP4     5
27                      SAP Crystal Reports 2016 SP2     5
28                     SAP Crystal Reports 2013 SP01     4
29                          Crystal Reports 2011 SP4     4
30         MudCats Crystal Reports 11.5 SP4 Runtime      3
31                 MudCats Crystal Reports 9 Runtime     3
32                       Crystal Reports v11 Runtime     2
33           Crystal Reports 2008 SP3 for PeopleSoft     2
34              Crystal Reports XI R2 Service Pack 6     2
35                  Crystal Reports 2008 Runtime SP1     2
36                         Crystal Reports 2011 SP12     2
37            Crystal Reports 11.5 Release 2 Runtime     1
38                   Crystal Reports Viewer 2011 SP4     1
39              SAP Crystal Reports 2013 viewer SP01     1
40                          Crystal Reports 2008 SP1     1
41                Crystal Reports Server 2008 V1 SP3     1
42                              Crystal Reports 2011     1

Summary:

TBD

In [11]:
bi_software_histo ('%scipy%', conn=CONN)

                               software_name  num
0                   Python 2.7 scipy-0.14.0     5
1               Python 2.7 - scipy 0.15.1-8     3
2                  Python 2.7 scipy-0.9.0b1     3
3                 Python 2.7 scipy-0.11.0b1     3
4                   Python 2.7 scipy-0.11.0     2
5          Python 2.7 scipy-0.11.0 (64-bit)     2
6                 Python 2.7 - scipy 0.10.1     2
7          Python 2.7 scipy-0.13.3 (64-bit)     1
8                   Python 2.7 scipy-0.15.1     1
9                   Python 2.7 scipy-0.16.0     1
10                Python 2.7 scipy-0.9.0rc5     1
11                  Python 3.2 scipy-0.13.3     1
12                   Python 2.6 scipy-0.8.0     1
13                  Python 3.4 scipy-0.15.1     1
14  Python 2.7 Scipy-stack-14.2.16 (64-bit)     1
15                  Python 2.7 scipy-0.10.1     1
16                  Python 2.7 scipy-0.13.0     1
17                  Python 2.7 scipy-0.13.1     1
18                  Python 2.7 scipy-0.13.2     1
19                  Python 2.7 scipy-0.13.3     1

In [12]:
bi_software_histo ('%astropy%', conn=CONN)

                    software_name  num
0  Python 2.7 - astropy 1.0.3-11     3
1       Python 2.7 astropy-0.3.2     2