# Business Intelligence (BI) Tools Analysis Using BigFix Webreports Data 06/15/2018 snapshot

## About
Notebook developed around BigFix dataset to understand BI software at the agency it is backed by a postgresql database. See README.md on building the database.

Uploaded data are restricted to Windows and MacOS machines (server & desktop included)

In [1]:
# import needed libs
import sys
sys.path.append("../lib/app_utilities")
from bi_util import *
from IPython.display import display, HTML

In [2]:
# Here is a list of everything we are going to look for
#BI_LIST
#BI_LIST.append("R")
#BI_LIST.append("%Shiny%")
#BI_LIST

In [3]:
# make the connection to the database we want to use for analysis
# this DB was contructed from BigFix Webreport data taken on April 4th, 2018)
CONN = create_connection('webreport_06_15_2018')

In [4]:
types = count_bi_types(CONN)

In [5]:
# Top 10 of the bi software where we have 1 or more types/permutations which match
types[types['num_types'] > 0][:10]

   num_types    software_name
0       3084               R
0       1017             Java
0        702           Python
0        162            BOARD
0        141              SAS
0         93              JRE
0         45  Crystal Reports
0         29            scipy
0         16           Splunk
0         11    MicroStrategy

In [6]:
# for a more indepth analysis of types/permutations in BI software lets
# get a histogram breaking down all of the types we match
#data = 
# bi_software_histo ('Microsoft SQL Server%', conn=CONN)
# display(HTML(data.to_html()))

In [7]:
# find install info for rdbs
# installs = count_bi_installs(CONN)

In [8]:
# all of the db software where we have 1 or more installs (for any type/permutation)
# installs[installs['num_installs'] > 0]

In [9]:
# bi_software_histo ('Python%', conn=CONN)

In [10]:
#bi_software_histo ('%Crystal Reports%', conn=CONN)

Summary:

TBD

In [11]:
#bi_software_histo ('%scipy%', conn=CONN)

In [12]:
#bi_software_histo ('%astropy%', conn=CONN)

In [13]:
#bi_software_types_histo ('R %', conn=CONN)

In [14]:
sdata = bi_device_software ('Python%', conn=CONN)

In [15]:
sdata.columns

Index(['device_id', 'rowid', 'device_name', 'device_type', 'cpu', 'cpu_cores',
       'center_id', 'os_id', 'software_id', 'software_name',
       'install_location'],
      dtype='object')

In [16]:
python_devices = sdata[['device_id','software_name']]

In [17]:
jdata = bi_device_software ('Java%', conn=CONN)

In [18]:
java_devices = jdata [['device_id','software_name']]

In [19]:
java_devices[:1]

   device_id                 software_name
0          4  java-1.8.0-openjdk-headless

In [20]:
merged = pd.concat([python_devices.device_id, java_devices.device_id])

In [24]:
merged.unique().size

9434