##(Relational) Database Analysis Using BigFix Webreports Data
04/03/2018 snapshot##

Notebook developed around BigFix dataset to understand Database software at the agency it is backed by a postgresql database. See README.md on building the database.

Uploaded data are restricted to Windows and MacOS machines (server & desktop included)

In [1]:
# import needed libs
import sys
sys.path.append("../bin")
from db_util import *
from IPython.display import display, HTML

In [2]:
# Here is a list of everything we are going to look for
# RELATIONAL_DB_LIST

In [3]:
# make the connection to the database we want to use for analysis
# this DB was contructed from BigFix Webreport data taken on April 4th, 2018)
CONN = create_connection('apps2')

In [4]:
types = count_rdbs_types(CONN)

In [5]:
# all of the db software where we have 1 or more types/permutations which match
types[types['num_types'] > 0]

   num_types                 software_name
0         31                 FileMaker Pro
0         21                    PostgreSQL
0         16                      Firebird
0         14  Microsoft SQL Server Compact
0         13          Microsoft SQL Server
0         12              Microsoft Access
0          8                  SQL Anywhere
0          7      Microsoft SQL Server CTP
0          6                  MySQL Server
0          6                     InterBase
0          5  Microsoft SQL Server Desktop
0          4                  EnterpriseDB
0          4  Microsoft SQL Server LocalDB
0          3                          DB2
0          3                       MariaDB
0          3       Microsoft SQL Server RC
0          3       Microsoft Visual FoxPro
0          2       Microsoft SQL Server R2
0          2                        dBase
0          2                Pervasive PSQL
0          2           Sybase SQL Anywhere
0          2                      UniVerse
0          2                        SQLite
0          1                      Informix
0          1                       Vertica
0          1                        Linter
0          1                          mSQL
0          1                         MaxDB
0          1                      Panorama
0          1                           H2
0          1              Oracle Database
0          1                      SAP HANA
0          1                 4th Dimension
0          1                        JavaDB
0          1                       Clarion
0          1                       Aurora
0          1           Firebird SQL Server
0          1                         Derby

In [6]:
# for a more indepth analysis of types/permutations in DB software lets
# get a histogram breaking down all of the types we match
#data = 
# db_software_histo ('Microsoft SQL Server%', conn=CONN)
# display(HTML(data.to_html()))

In [7]:
# find install info for rdbs
installs = count_rdbs_installs(CONN)

In [8]:
# all of the db software where we have 1 or more installs (for any type/permutation)
installs[installs['num_installs'] > 0]

   num_installs                 software_name
0          4702  Microsoft SQL Server Compact
0          2599          Microsoft SQL Server
0          1966  Microsoft SQL Server LocalDB
0           912              Microsoft Access
0           835       Microsoft SQL Server R2
0           726                 FileMaker Pro
0           206                  MySQL Server
0           100                    PostgreSQL
0            96                      Firebird
0            55       Microsoft SQL Server RC
0            48      Microsoft SQL Server CTP
0            40                  SQL Anywhere
0            26       Microsoft Visual FoxPro
0            18  Microsoft SQL Server Desktop
0            13                Pervasive PSQL
0            10                       MariaDB
0             8                     InterBase
0             7                          DB2
0             6                      SAP HANA
0             6           Firebird SQL Server
0             3              Oracle Database
0             3           Sybase SQL Anywhere
0             3                        SQLite
0             3                           H2
0             3                      UniVerse
0             2                 4th Dimension
0             2                        dBase
0             1                         MaxDB
0             1                       Vertica
0             1                        Linter
0             1                         Derby
0             1                          mSQL
0             1                      Panorama
0             1                        JavaDB
0             1                       Aurora

So this is completely different from the BigFix Inventory (BFI) data source. We can't explain how there are significantly more MS SQL Server instances in Webreports data vs BFI. Its not an issue of goofing the filter (at least, nothing obvious). Here is the filter criteria for finding MS SQL Server and MS Access instances in Webreports data:

In [9]:
# db_software_histo ('Microsoft SQL Server%', conn=CONN)

In [10]:
#db_software_histo ('FileMaker Pro%', conn=CONN)
#db_software_histo ('Microsoft Access%', conn=CONN)
# db_software_histo ('Microsoft SQL Server% R2%', conn=CONN)

Summary:

Neither datasource can be trusted at this point. We need to understand better the filtering criteria which BFI is applying as well as a more detailed look into machines showing MS SQL Server which are not showing up in BFI.

In [11]:
# db_software_histo ('Microsoft SQL Server% LocalDB%', conn=CONN)

In [12]:
db_software_histo ('Microsoft SQL Server% CTP%', conn=CONN)

                        software_name  num
0   Microsoft SQL Server 2016 CTP2.2     1
1   Microsoft SQL Server 2016 CTP2.3     1
2   Microsoft SQL Server 2016 CTP2.4     1
3   Microsoft SQL Server 2016 CTP3.1     1
4   Microsoft SQL Server 2016 CTP3.3     1
5  Microsoft SQL Server vNext CTP1.3     1
6  Microsoft SQL Server vNext CTP2.0     1

In [13]:
# db_software_histo ('Microsoft SQL Server% RC%', conn=CONN)

In [14]:
# db_software_histo ('Microsoft SQL Server% Compact%', conn=CONN)