In [1]:
# Notebook developed around BigFix dataset to understand Database software at the agency
# it is backed by a postgresql database. See README.md on building the database.

import sys
sys.path.append("../bin")
from db_util import *
from IPython.display import display, HTML

In [2]:
# Here is a list of everything we are going to look for
# RELATIONAL_DB_LIST

In [3]:
# make the connection to the database we want to use for analysis
# this DB was contructed from BigFix Webreport data taken on April 4th, 2018)
CONN = create_connection('apps2')

In [4]:
types = count_rdbs_types(CONN)

In [5]:
# all of the db software where we have 1 or more types/permutations which match
types[types['num_types'] > 0]

   num_types            software_name
0         79                    MySQL
0         79                   Oracle
0         32     Microsoft SQL Server
0         21            FileMaker Pro
0         19               PostgreSQL
0         15                 Firebird
0         14                       H2
0          7             SQL Anywhere
0          6                   SQLite
0          4             EnterpriseDB
0          3                 Panorama
0          3                  MariaDB
0          3                 Informix
0          2  Microsoft Visual FoxPro
0          1                   Linter
0          1                    dBase
0          1            4th Dimension
0          1                  Clarion

In [9]:
# for a more indepth analysis of types/permutations in DB software lets
# get a histogram breaking down all of the types we match
#data = 
db_software_histo ('H2', conn=CONN)
# display(HTML(data.to_html()))

                                        software_name  num
0                                      CA PAM Client     2
1                                      CADbench 2012     1
2                                      CADbench 2015     1
3                                              EFH-2     1
4                                                 H2     1
5                        NoMachine Enterprise Client     1
6           PicoQuant - TimeHarp 260 - TH260Lib v3.0     1
7                      SANYO H.264 Plug-in Ver.3.2.3     1
8                      SANYO H.264 Plug-in Ver.3.3.3     1
9       Synopsys FPGA Synthesis Products H-2013.03-1     1
10  Synopsys FPGA Synthesis Products H-2013.03-SP1-1     1
11  Synopsys Identify RTL Debugger Microsemi Editi...    1
12  Synopsys Synplify Microsemi Edition H-2013.03M-1     1
13                       VTI_OcularHealth_BDC_SV_TCD     1

In [7]:
# find install info for rdbs
installs = count_rdbs_installs(CONN)

In [8]:
# all of the db software where we have 1 or more installs (for any type/permutation)
installs[installs['num_installs'] > 0]

   num_installs            software_name
0          5864     Microsoft SQL Server
0          1084                    MySQL
0           475            FileMaker Pro
0           412                   Oracle
0            90                 Firebird
0            86               PostgreSQL
0            34             SQL Anywhere
0            19                       H2
0            12  Microsoft Visual FoxPro
0            10                  MariaDB
0             9                   SQLite
0             9                 Informix
0             4                 Panorama
0             4             EnterpriseDB
0             2            4th Dimension
0             2                  Clarion
0             1                    dBase
0             1                   Linter